{% extends 'store/header.html' %}
{% load static %}
{% block content %}
<!-- product-checkout07:12-->
<body class="product-checkout checkout-cart">
    <!-- main content -->
    <div id="checkout" class="main-content">
        <div class="wrap-banner">
            <!-- breadcrumb -->
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ol>
                            <li>
                                <a href="#">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Checkout</span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav>
			
            <!-- main -->
            <div id="wrapper-site">
                <div class="container">
                    <div class="row">
                        <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                            <div id="main">
                                <div class="cart-grid row">
                                    <div class="col-md-9 check-info">
                                        <div class="checkout-personal-step">
                                            <h3 class="step-title h3 info">
                                                <span class="step-number">1</span>PERSONAL INFORMATION

                                            </h3>
                                        </div>
                                        <div class="content">
                                          
                                            <div class="tab-content">
                                              
                                                <div class="" id="checkout-login-form" role="tabpanel">
                                                    <form id="login-form"  method="post" class="customer-form">
                                                        <div id="user-info" >
                                                            <div id="user_l">
                                                            <input type="hidden" name="back" value="">
                                                            <div class="form-group row">
                                                                <input class="form-control" name="name" type="text" placeholder="Name">
                                                            </div>
                                                            <input type="hidden" name="back" value="">
                                                            <div class="form-group row">
                                                                <input class="form-control" name="email" type="email" placeholder="Email">
                                                            </div>
                                                        </div>
                                                            <input type="hidden" name="back" value="">
                                                            <div class="form-group row">
                                                                <input class="form-control" name="adress" type="text" placeholder="Adress">
                                                            </div>
                                                            <input type="hidden" name="back" value="">
                                                            <div class="form-group row">
                                                                <input class="form-control" name="city" type="text" placeholder="City">
                                                            </div>
                                                            <input type="hidden" name="back" value="">
                                                            <div class="form-group row">
                                                                <input class="form-control" name="state" type="text" placeholder="State">
                                                            </div>
                                                            
                                                            <input type="hidden" name="back" value="">
                                                            <div class="form-group row">
                                                                <input class="form-control" name="zipcode" type="text" placeholder="Zipcode">
                                                            </div>
                                                            <div class="clearfix">
                                                                <div class="row">
                                                                    <button id="make-payment" class="continue btn btn-primary pull-xs-right " name="continue" data-link-action="sign-in" type="submit" value="1">
                                                                        Continue
                                                                    </button>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                      
                                                    </form>
                                                    <button id="payment-info-b" class="continue btn btn-primary pull-xs-right d-none " name="continue" data-link-action="sign-in" type="submit" value="1">
                                                        Make Payment
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        
                       

                                        <div class="checkout-personal-step">
                                            <h3 class="step-title h3">
                                                <span class="step-number">3</span>Shipping Method
                                            </h3>
                                        </div>
                                        
                                        <div class="checkout-personal-step">
                                            <h3 class="step-title h3">
                                                <span class="step-number">4</span>Payment
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="cart-grid-right col-xs-12 col-lg-3">
                                        <div class="cart-summary">
                                            <div class="cart-detailed-totals">
                                                <div class="cart-summary-products">
                                                    <div class="summary-label">There are 3 item in your cart</div>
                                                </div>
                                                <div class="cart-summary-line" id="cart-subtotal-products">
                                                    <span class="label js-subtotal">
                                                        Total products:
                                                    </span>
                                                    <span class="value">£200.00</span>
                                                </div>
                                                <div class="cart-summary-line" id="cart-subtotal-shipping">
                                                    <span class="label">
                                                        Total Shipping:
                                                    </span>
                                                    <span class="value">Free</span>
                                                    <div>
                                                        <small class="value"></small>
                                                    </div>
                                                </div>
                                                <div class="cart-summary-line cart-total">
                                                    <span class="label">Total:</span>
                                                    <span class="value">£200.00 (tax incl.)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="block-reassurance">
                                            <ul>
                                                <li>
                                                    <div class="block-reassurance-item">
                                                        <img src="img/product/check1.png" alt="Security policy (edit with Customer reassurance module)">
                                                        <span>Security policy (edit with Customer reassurance module)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="block-reassurance-item">
                                                        <img src="img/product/check2.png" alt="Delivery policy (edit with Customer reassurance module)">
                                                        <span>Delivery policy (edit with Customer reassurance module)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="block-reassurance-item">
                                                        <img src="img/product/check3.png" alt="Return policy (edit with Customer reassurance module)">
                                                        <span>Return policy (edit with Customer reassurance module)</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
   
    <script type="text/javascript">
        var shipping = '{{order.shipping}}'
        var user = '{{request.user}}'
        var total = '{{order.get_cart_total}}'
        if(shipping == 'False'){
                document.getElementById('shipping-info').innerHTML = '' 
                console.log("rrrr")
                document.getElementById('adressinfo').classList.add('d-none')
            }
        if(user != 'AnonymousUser'){
            console.log('undifiend')
		   document.getElementById('user_l').innerHTML = ''

        }
        if(shipping == 'False' && user!= 'AnonymousUser'){
            document.getElementById('form-wrapper').classList.add('d-none')
            document.getElementById('payment-info').classList.remove('d-none')
           
        }
        var form = document.getElementById('login-form')
        form.addEventListener('submit', function(e){
            e.preventDefault()
            console.log('form submitted...')
           
            document.getElementById('make-payment').classList.add('d-none')
            document.getElementById('payment-info-b').classList.remove('d-none')
    
        })
        document.getElementById('payment-info-b').addEventListener('click', function(e){
	    submitFormData()
        })

        function submitFormData(){
        console.log('payment button clicked')
        var userFormData = {
            'name':null,
            'email':null,
            'total':total,
        }
        var shippingInfo = {
            'adress':null,
            'city':null,
            'state':null,
            'zipcode':null,

        }
        if(shipping != 'False'){
            shippingInfo.adress = form.adress.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.zipcode = form.zipcode.value
            
        }
        if(user == 'AnonymousUser'){
            console.log(form.name.value)
            console.log(form.email.value)
            userFormData.name = form.name.value
            userFormData.email = form.email.value
        }
        var url = "/process_order/"
        fetch(url, {
		method: 'POST',
		headers:{
			'Content-Type':'application/json',
			'X-CSRFToken': csrftoken,
		},
            body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('Succes:',data);
            alert('Transaction completed');
            cart = {}
            console.log('Cart created ', cart)
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
            window.location.href = "{% url 'store' %}"
        })          
        }     
        

        </script>
    
    


    {% endblock content %}